.footer {
  background-color: #294886;
  .container {
    padding: 50px 115px 15px;
  }

  .search-block {
    max-width: 570px;
    width: 100%;
    margin: 0 auto;
    input[type=text] {
      border: 1px #eeeeee solid;
      padding: 2px 2px 2px 20px;
      vertical-align: middle;
      line-height: 48px;
      flex: 1 1;
      height: 46px;
      font-size: 14px;
      font-family: 'Roboto', Arial, sans-serif;
      color: #333;
      box-sizing: border-box;
      border-radius: 0;
    }

    input[type=submit] {
      background-color: #4f7fd6;
      color: #fff;
      font-family: 'Roboto', Arial, sans-serif;
      font-size: 14px;
      border: none;
      line-height: 46px;
      text-transform: uppercase;
      flex: 90px 0;
      padding: 0;
      height: 46px;
      border-radius: 0;
    }
  }

  .suggestion {
    font-family: 'Roboto', Arial, sans-serif;
    color: #cfcfcf;
    font-style: italic;
    padding-top: 5px;
    font-size: 12px;
    span {
      color: #fff;
      text-decoration: underline;
    }
  }

  .info-lists {
    max-width: 940px;
    margin-top: 38px;
    margin-bottom: 35px;
  }

  .title-footer {
    border-bottom: 1px solid #687387;
    padding-bottom: 1px;
    margin-bottom: 30px;
    span {
      margin-bottom: 0;
      border-bottom: 2px solid #687387;
      padding-bottom: 15px;
      color: #fff;
      font-family: 'Roboto', Arial, sans-serif;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      display: block;
    }
  }

  .column {
    width: 33.33%;
    padding: 0 15px;
  }
}
