<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>
<root>
  @@include('../partials/components/nav-menu.html')
  @@include('../partials/components/catalog-filter-mobile.html')
  <div class="wrapper gtk_main gtk_panel slideout-panel">
    @@include('../partials/components/top-header.html')
    <div class="header-sticky">
      @@include('../partials/components/header.html')
    </div>
    <main>
      <div class="container">
        <div class="row-line no-margin">
          @@include('../partials/components/sidebar-left.html')
          <div class="content">
            <div class="content-header__title">
              <span>КАК КУПИТЬ</span>
            </div>
            <div class="block-back-page row-line row-line__right">
              <div class="column-back">
                <a href="#" title="вернуться на предыдущую страницу" class="btn-back">
                  <img src="../images/backarow.svg" width="97" alt="">
                </a>
              </div>
            </div>
            <div class="content__white-block single">
              <div class="row-line steps">
                <div class="column">
                  <div class="image">
                    <img src="../images/img.jpg" alt="" title="">
                  </div>
                </div>
                <div class="column">
                  <div class="image">
                    <img src="../images/img1.jpg" alt="" title="">
                  </div>
                </div>
                <div class="column">
                  <div class="image">
                    <img src="../images/img2.jpg" alt="" title="">
                  </div>
                </div>
                <div class="column">
                  <div class="image">
                    <img src="../images/img3.jpg" alt="" title="">
                  </div>
                </div>
              </div>
              <p>
                1. Положите понравившиеся товары в "<span style="font-size: 11pt;">корзину</span>" в нужном количестве.
              </p>
              <p>
                2. Оформите и отправьте заказ.
              </p>
              <p>
                3. Менеджер обязательно свяжется с Вами для уточнения способа оплаты и доставки заказа.
              </p>
              <p>&nbsp;</p>
              <h2>Как искать товар на сайте? </h2>
              <p>Товары сгруппированы по тематическим разделам в <span style="color: #0054a5;"><b><span style="color: #ee1d24; font-size: 10pt;">КАТАЛОГ&nbsp;ТОВАРОВ.</span></b></span> (<a data-lightbox="gallery" href="picer.png" title="Копия ФОТО РАЗДЕЛА 773х608.png"><span style="color: #0054a5;">левое&nbsp;меню</span></a>)</p>
              <p>
                Используйте поисковую строку сайта или обращайтесь к менеджеру по телефону. (<a data-lightbox="gallery" href="1picer.png" title="Копия ФОТО ПОИСКА 827х591.png"><span style="color: #0054a5;">шапка сайта</span></a>)
              </p>
              <p>
                Задавайте письменные вопросы через формы <span style="color: #0054a5;"><a href="/contacts/"></a></span><span style="font-size: 10pt;"><a href="/contacts/"><span style="font-size: 8pt; color: #0054a5;"><b>КОНТАКТЫ</b></span></a></span>&nbsp;и <span style="font-size: 8pt;"><a href="/questions/add.php"><b><span style="color: #0054a5;">ЗАДАЙТЕ ВОПРОС</span></b></a></span><span style="font-size: 8pt;"><b><span style="color: #0054a5;"><span style="color: #0054a5;">.</span></span></b></span>&nbsp;(<a data-lightbox="gallery" href="/local/templates/main/img/2picer.png" title="Копия ФОТО КОНТАКТОВ 828х589.png"><span style="color: #0054a5;">верхнее меню</span></a>)
              </p>
              <p>
                Просмотренные товары останутся в блоке «<span style="color: #0054a5;"><b><a rel="prettyPhoto[pp_gal]" data-lightbox="gallery" href="b04119ad376b9c6ee92e69700414ef17.png" title="Копия ФОТО ВЫ СМОТРЕЛИ 864х614.png"><span style="color: #0054a5;">Вы смотрели</span></a></b></span>», можно быстро к ним вернуться.
              </p>
              <p>
                Понравившиеся&nbsp;товары можно поместить в раздел «<span style="color: #0054a5;"><b><a rel="prettyPhoto[pp_gal]" data-lightbox="gallery" href="9e76391148057415491c60a1e12c4c87.png" title="ФОТО ОТЛОЖЕНО.png"><span style="color: #0054a5;">Отложенные товары</span></a></b></span>».
              </p>
              <p>
                Для совершения покупки перейдите на страницу выбранного товара кнопкой&nbsp;<span style="background-color: #464646; color: #ffffff; font-size: 10pt;"><b>&nbsp;&nbsp;купить &nbsp;</b></span>. (<a data-lightbox="gallery" href="3picer.png" title="Копия ФОТО ПЕРЕЙТИ В ТОВАР 857х590.png"><span style="color: #0054a5;">смотреть</span></a>)
              </p>
              <p>&nbsp;</p>
              <h2>Как положить товар в корзину?</h2>
              1. Перейдите на страницу товара, и выберите нужный вариант. Фотографию товара можно увеличить. (<a data-lightbox="gallery" href="4picer.png" title="ФОТО ТОВАРА 826х589.png"><span style="color: #0054a5;">смотреть</span></a>)
              <p>
              </p>
              <p>
                2. Укажите нужное количество товара и нажмите кнопку <b><span style="font-size: 10pt; background-color: #ee1d24; color: #ffffff;">&nbsp;&nbsp;</span></b><span style="color: #0054a5;"><b><span style="font-size: 10pt; background-color: #ee1d24; color: #ffffff;">В корзину &nbsp;</span></b></span>. (<a data-lightbox="gallery" href="5picer.png" title="ФОТО ПОЛОЖИТЬ В КОРЗИНУ.png"><span style="color: #0054a5;">смотреть</span></a>)
              </p>
              <p>
                3. Закончив покупки, перейдите на страницу&nbsp;«<span style="font-size: 11pt;">Корзина</span>» для проверки и оформления заказа.
              </p>
              <p>
                <span style="color: #ff0000;">*</span> В корзине можно поменять количество товара.
              </p>
              <p>&nbsp;</p>
              <h2>
                Как оформить заказ? </h2>
              <p>
                1. Перейдите на страницу&nbsp;<span style="color: #262626; font-size: 12pt;">«</span><span style="color: #262626;"><span style="font-size: 11pt;">Корзина</span></span>».
              </p>
              <p>
                2. Заполните три обязательных поля:
              </p>
              <p>
                <span style="color: #ff0000;">*</span> &nbsp;Имя&nbsp;
              </p>
              <p>
                <span style="color: #ff0000;">*</span> &nbsp;Email&nbsp;
              </p>
              <p>
                <span style="color: #ff0000;">*</span> &nbsp;Номер телефона&nbsp;
              </p>
              <p>
                3. а) проверьте перечень товаров и их количество.
              </p>
              <p>
                &nbsp; &nbsp; б) в&nbsp;поле для комментариев укажите адрес доставки и способ оплаты.
              </p>
              <p>
                &nbsp; &nbsp; в) для выставления счета по безналу, прикрепите файл с реквизитами организации.
              </p>
              <p>
                4. По окончании нажмите кнопку <span style="color: #ee1d24;"><b><span style="font-size: 11pt; background-color: #f7941d; color: #262626;">&nbsp; Отправить заказ &nbsp;</span></b></span>. (<a data-lightbox="gallery" href="6picer.png" title="ФОТО КОРЗИНА 836х589.png"><span style="color: #0054a5;">смотреть</span></a>)
              </p>
              <p>
                Менеджер обязательно свяжется с вами для согласования&nbsp;<span style="color: #0072bc;"><a href="/delivery/"><span style="color: #0054a5;">оплаты и доставки</span></a>&nbsp;<span style="color: #000000;">заказа</span></span>.
              </p>
              <p>
                Способы оплаты заказа:<br>
              </p>
              <p>
                -&nbsp;банковской картой
              </p>
              <p>
                -&nbsp;наличными при получении
              </p>
              <p>
                -&nbsp;квитанция&nbsp;Сбербанка
              </p>
              <p>
                -&nbsp;с расчетного счета
              </p>
              <p>
                Способы получение заказа:<br>
              </p>
              <p>
                -&nbsp;<a href="/contacts/"><span style="color: #0054a5;">самовывоз</span></a>
              </p>
              <p>
                -&nbsp;доставка
              </p>
              <p>
                -&nbsp;отправка транспортной компанией в регионы России, Казахстана и Беларуси
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
    @@include('../partials/components/footer.html')
  </div>
  @@include('../partials/scripts/common.html')
</root>
</body>
</html>
