<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>
  <root>
  @@include('../partials/components/nav-menu.html')
  <div class="wrapper gtk_main slideout-panel">
    @@include('../partials/components/top-header.html')
    <div class="header-sticky">
      @@include('../partials/components/header.html')
    </div>
    <main>
    	@@include('../partials/frontpage/content.html')
    </main>
    @@include('../partials/components/footer.html')
  </div>
  @@include('../partials/scripts/common.html')
  </root>
</body>
</html>
