<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web Starter Kit</title>
  <link media="all" rel="stylesheet" href="@@webRoot/css/@@vendorStyles">
  <link media="all" rel="stylesheet" href="@@webRoot/css/@@mainStyles">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed+Slab:300,300i,700%7COpen+Sans:400,600,700,800&amp;subset=cyrillic" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,500,700,900&amp;subset=latin,latin-ext,cyrillic" rel="stylesheet" type="text/css">
</head>
