<div class="content">
  <div class="content-header__title">
    <span>ПРОИЗВОДИТЕЛИ</span>
  </div>
  <div class="block-back-page row-line row-line__right">
    <div class="column-back">
      <a href="#" title="вернуться на предыдущую страницу" class="btn-back">
        <img src="../images/backarow.svg" width="97" alt="">
      </a>
    </div>
  </div>
  <div class="content__white-block">
    <div class="filter-head">
      <div class="column">
        <span class="filter-head__text hidden-xs">Страница:</span>
        <strong class="filter-head__active">1</strong>
        <a href="#" class="filter-head__link">2</a>
        <a href="#" class="filter-head__link">3</a>
        <a href="#" class="filter-head__link">4</a>
        <a href="#" class="filter-head__link">5</a>
      </div>
      <div class="column">
        <span>
          1 - 20 из
        </span>
        <span class="filter-head__color"> 95</span>
      </div>
    </div>
    <div class="brands-list">
      <div class="brands-list__item row-line">
        <div class="brands-list__colum-left">
          <div class="brands-list__photo">
            <a href="#"><img src="../images/brand.png" alt="" title=""></a>
          </div>
        </div>
        <div class="brands-list__colurm-right">
          <div class="brands-list__info">
            <h3 class="brands-list__title"><a href="/brands/acm.html">ACM</a></h3>
            <p class="brands-list__description">Производитель строительной и паркетной химии: паркетный клей, грунтовки.</p>
            <a href="#" class="brands-list__more">подробнее</a>
          </div>
        </div>
      </div>
      <div class="brands-list__item row-line">
        <div class="brands-list__colum-left">
          <div class="brands-list__photo">
            <a href="#"><img src="../images/brand2.png" alt="" title=""></a>
          </div>
        </div>
        <div class="brands-list__colurm-right">
          <div class="brands-list__info">
            <h3 class="brands-list__title"><a href="/brands/adesiv.html">Adesiv</a></h3>
            <p class="brands-list__description">Компания Adesiv — производитель лаков, клеев и вспомогательных материалов для профессиональной укладки паркета.</p>
            <a href="#" class="brands-list__more">подробнее</a>
          </div>
        </div>
      </div>
      <div class="brands-list__item row-line">
        <div class="brands-list__colum-left">
          <div class="brands-list__photo">
            <a href="#"><img src="../images/brand1.jpg" alt="" title=""></a>
          </div>
        </div>
        <div class="brands-list__colurm-right">
          <div class="brands-list__info">
            <h3 class="brands-list__title"><a href="/brands/akzonobel.html">AkzoNobel</a></h3>
            <p class="brands-list__description">Шведский производитель высококачественной паркетной химии: паркетные лаки, масла, грунтовки, клея.</p>
            <a href="#" class="brands-list__more">подробнее</a>
          </div>
        </div>
      </div>
      <div class="brands-list__item row-line">
        <div class="brands-list__colum-left">
          <div class="brands-list__photo">
            <a href="#"><img src="../images/brand.jpg" alt="" title=""></a>
          </div>
        </div>
        <div class="brands-list__colurm-right">
          <div class="brands-list__info">
            <h3 class="brands-list__title"><a href="/brands/amber_wood_flooring.html">Amber Wood flooring</a></h3>
            <p class="brands-list__description">Производство массивной доски с финишным покрытием эконом-класса и премиум-класса.</p>
            <a href="#" class="brands-list__more">подробнее</a>
          </div>
        </div>
      </div>
      <div class="brands-list__item row-line">
        <div class="brands-list__colum-left">
          <div class="brands-list__photo">
            <a href="#"><img src="../images/brand2.jpg" alt="" title=""></a>
          </div>
        </div>
        <div class="brands-list__colurm-right">
          <div class="brands-list__info">
            <h3 class="brands-list__title"><a href="/brands/Anser.html">Anser</a></h3>
            <p class="brands-list__description">Производитель паркетных клеев из Польши.</p>
            <a href="#" class="brands-list__more">подробнее</a>
          </div>
        </div>
      </div>
      <div class="brands-list__item row-line">
        <div class="brands-list__colum-left">
          <div class="brands-list__photo">
            <a href="#"><img src="../images/brand3.jpg" alt="" title=""></a>
          </div>
        </div>
        <div class="brands-list__colurm-right">
          <div class="brands-list__info">
            <h3 class="brands-list__title"><a href="/brands/antique.html">Antique</a></h3>
            <p class="brands-list__description">Производство массивной доски с финишным покрытием эконом-класса и премиум-класса.</p>
            <a href="#" class="brands-list__more">подробнее</a>
          </div>
        </div>
      </div>
      <div class="brands-list__item row-line">
        <div class="brands-list__colum-left">
          <div class="brands-list__photo">
            <a href="#"><img src="../images/brand4.jpg" alt="" title=""></a>
          </div>
        </div>
        <div class="brands-list__colurm-right">
          <div class="brands-list__info">
            <h3 class="brands-list__title"><a href="/brands/arboritec.html">Arboritec</a></h3>
            <p class="brands-list__description">Шведский производитель высококачественной паркетной химии: лаки, масла, грунтовки, клея.</p>
            <a href="#" class="brands-list__more">подробнее</a>
          </div>
        </div>
      </div>
      <div class="brands-list__item row-line">
        <div class="brands-list__colum-left">
          <div class="brands-list__photo">
            <a href="#"><img src="../images/brand5.jpg" alt="" title=""></a>
          </div>
        </div>
        <div class="brands-list__colurm-right">
          <div class="brands-list__info">
            <h3 class="brands-list__title"><a href="/brands/ardenparkett.html">ArdenParkett</a></h3>
            <p class="brands-list__description">Производство паркетной доски премиум-класса.</p>
            <a href="#" class="brands-list__more">подробнее</a>
          </div>
        </div>
      </div>
      <div class="brands-list__item row-line">
        <div class="brands-list__colum-left">
          <div class="brands-list__photo">
            <a href="#"><img src="../images/brand6.png" alt="" title=""></a>
          </div>
        </div>
        <div class="brands-list__colurm-right">
          <div class="brands-list__info">
            <h3 class="brands-list__title"><a href="/brands/arturo.html">Arturo</a></h3>
            <p class="brands-list__description">Производитель полного комплекса высококачественных полимерных полов. Входит в концерн Uzin Utz AG.</p>
            <a href="#" class="brands-list__more">подробнее</a>
          </div>
        </div>
      </div>
      <div class="brands-list__item row-line">
        <div class="brands-list__colum-left">
          <div class="brands-list__photo">
            <a href="#"><img src="../images/brand8.png" alt="" title=""></a>
          </div>
        </div>
        <div class="brands-list__colurm-right">
          <div class="brands-list__info">
            <h3 class="brands-list__title"><a href="/brands/basf.html">Basf</a></h3>
            <p class="brands-list__description">Корпорация&nbsp;<b>BASF</b>&nbsp;ведущий производитель химической продукции для всех областей жизнедеятельности общества. Головной офис находится в Германии.</p>
            <a href="#" class="brands-list__more">подробнее</a>
          </div>
        </div>
      </div>
      <div class="brands-list__item row-line">
        <div class="brands-list__colum-left">
          <div class="brands-list__photo">
            <a href="#"><img src="../images/brand7.jpg" alt="" title=""></a>
          </div>
        </div>
        <div class="brands-list__colurm-right">
          <div class="brands-list__info">
            <h3 class="brands-list__title"><a href="/brands/berger_seidle.html">Berger-Seidle</a></h3>
            <p class="brands-list__description">Производитель полного комплекса высококачественной паркетной химии: паркетные лаки, масла, грунтовки, клея, средства по уходу.</p>
            <a href="#" class="brands-list__more">подробнее</a>
          </div>
        </div>
      </div>
      <div class="brands-list__item row-line">
        <div class="brands-list__colum-left">
          <div class="brands-list__photo">
            <a href="#"><img src="../images/brand9.jpg" alt="" title=""></a>
          </div>
        </div>
        <div class="brands-list__colurm-right">
          <div class="brands-list__info">
            <h3 class="brands-list__title"><a href="/brands/Bochem.html">Bochem</a></h3>
            <p class="brands-list__description">Производитель паркетных клеев из Польши.</p>
            <a href="#" class="brands-list__more">подробнее</a>
          </div>
        </div>
      </div>
      <div class="brands-list__item row-line">
        <div class="brands-list__colum-left">
          <div class="brands-list__photo">
            <a href="#"><img src="../images/brand10.jpg" alt="" title=""></a>
          </div>
        </div>
        <div class="brands-list__colurm-right">
          <div class="brands-list__info">
            <h3 class="brands-list__title"><a href="/brands/bona.html">Bona</a></h3>
            <p class="brands-list__description">Производитель высококачественной паркетной химии: паркетные лаки, масла, грунтовки, клея.</p>
            <a href="#" class="brands-list__more">подробнее</a>
          </div>
        </div>
      </div>
      <div class="brands-list__item row-line">
        <div class="brands-list__colum-left">
          <div class="brands-list__photo">
            <a href="#"><img src="../images/brand11.jpg" alt="" title=""></a>
          </div>
        </div>
        <div class="brands-list__colurm-right">
          <div class="brands-list__info">
            <h3 class="brands-list__title"><a href="/brands/bostik.html">Bostic</a></h3>
            <p class="brands-list__description">Производитель высококачественной паркетной химии: паркетный клей, грунтовка.</p>
            <a href="#" class="brands-list__more">подробнее</a>
          </div>
        </div>
      </div>
      <div class="brands-list__item row-line">
        <div class="brands-list__colum-left">
          <div class="brands-list__photo">
            <a href="#"><img src="../images/brand12.png" alt="" title=""></a>
          </div>
        </div>
        <div class="brands-list__colurm-right">
          <div class="brands-list__info">
            <h3 class="brands-list__title"><a href="/brands/casco.html">Casco</a></h3>
            <p class="brands-list__description"><b>Casco</b> является лидером по производству строительных материалов в странах Скандинавии и Балтии&nbsp;и России.</p>
            <a href="#" class="brands-list__more">подробнее</a>
          </div>
        </div>
      </div>
      <div class="brands-list__item row-line">
        <div class="brands-list__colum-left">
          <div class="brands-list__photo">
            <a href="#"><img src="../images/brand13.gif" alt="" title=""></a>
          </div>
        </div>
        <div class="brands-list__colurm-right">
          <div class="brands-list__info">
            <h3 class="brands-list__title"><a href="/brands/cesar.html">Cesar</a></h3>
            <p class="brands-list__description">Производство массивной доски с финишным покрытием эконом-класса и премиум-класса.</p>
            <a href="#" class="brands-list__more">подробнее</a>
          </div>
        </div>
      </div>
      <div class="brands-list__item row-line">
        <div class="brands-list__colum-left">
          <div class="brands-list__photo">
            <a href="#"><img src="../images/brand14.png" alt="" title=""></a>
          </div>
        </div>
        <div class="brands-list__colurm-right">
          <div class="brands-list__info">
            <h3 class="brands-list__title"><a href="/brands/plintuc_cezar.html">Cezar</a></h3>
            <p class="brands-list__description">Профили и плинтуса для финишной отделки из дюрополимера, МДФ и металла.</p>
            <a href="#" class="brands-list__more">подробнее</a>
          </div>
        </div>
      </div>
      <div class="brands-list__item row-line">
        <div class="brands-list__colum-left">
          <div class="brands-list__photo">
            <a href="#"><img src="../images/brand15.gif" alt="" title=""></a>
          </div>
        </div>
        <div class="brands-list__colurm-right">
          <div class="brands-list__info">
            <h3 class="brands-list__title"><a href="/brands/valiki_fia.html">CIRET GmbH </a></h3>
            <p class="brands-list__description">Производство инструмента для нанесения финишных покрытий.</p>
            <a href="#" class="brands-list__more">подробнее</a>
          </div>
        </div>
      </div>
      <div class="brands-list__item row-line">
        <div class="brands-list__colum-left">
          <div class="brands-list__photo">
            <a href="#"><img src="../images/brand16.gif" alt="" title=""></a>
          </div>
        </div>
        <div class="brands-list__colurm-right">
          <div class="brands-list__info">
            <h3 class="brands-list__title"><a href="/brands/columbus_profivac.html">Columbus</a></h3>
            <p class="brands-list__description">Производитель оборудования для паркетных работ.</p>
            <a href="#" class="brands-list__more">подробнее</a>
          </div>
        </div>
      </div>
      <div class="brands-list__item row-line">
        <div class="brands-list__colum-left">
          <div class="brands-list__photo">
            <a href="#"><img src="../images/brand17.png" alt="" title=""></a>
          </div>
        </div>
        <div class="brands-list__colurm-right">
          <div class="brands-list__info">
            <h3 class="brands-list__title"><a href="/brands/derufa.html">Derufa</a></h3>
            <p class="brands-list__description">Совместное германо-российское предприятие - производитель профессиональной лакокрасочной продукции.&nbsp;</p>
            <a href="#" class="brands-list__more">подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
