<div class="gtk_filter filter-mobile">
  <div class="filter-mobile__body">
    <button type="button" class="filter-mobile__close">Закрыть фильтры</button>
    <form action="#" id="filter-form-sidebar" class="filter-form">
      <div class="filter-form__item">
        <input id="acm-sidebar" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="acm-sidebar" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">ACM</a>
            <span class="filter-product-count">4</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="adesiv-sidebar" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="adesiv-sidebar" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Adesiv</a>
            <span class="filter-product-count">3</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="amberWood-sidebar" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="amberWood-sidebar" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Amber Wood flooring</a>
            <span class="filter-product-count">3</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="anser-sidebar" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="anser-sidebar" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Anser</a>
            <span class="filter-product-count">2</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="arboritec-sidebar" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="arboritec-sidebar" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Arboritec</a>
            <span class="filter-product-count">4</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="berger-seidle-sidebar" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="berger-seidle-sidebar" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Berger-Seidle</a>
            <span class="filter-product-count">6</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="bochem-sidebar" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="bochem-sidebar" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Bochem</a>
            <span class="filter-product-count">6</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="bona-sidebar" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="bona-sidebar" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Bona</a>
            <span class="filter-product-count">32</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="bostic-sidebar" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="bostic-sidebar" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Bostic</a>
            <span class="filter-product-count">1</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="cesar-sidebar" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="cesar-sidebar" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Cesar</a>
            <span class="filter-product-count">1</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="ciret-sidebar" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="ciret-sidebar" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">CIRET GmbH</a>
            <span class="filter-product-count">1</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="сezar-sidebar" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="сezar-sidebar" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Cezar</a>
            <span class="filter-product-count">2</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="columbus-sidebar" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="columbus-sidebar" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Columbus</a>
            <span class="filter-product-count">2</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="derufa-sidebar" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="derufa-sidebar" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Derufa</a>
            <span class="filter-product-count">1</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="dollken-sidebar" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="dollken-sidebar" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Dollken</a>
            <span class="filter-product-count">2</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input type="submit" class="filter-form__submit" value="Выбрать">
        <input type="button" class="filter-form__reset" value="Сбросить">
      </div>
    </form>
  </div>
</div>
