<div class="catalog">
  <h2 class="content-header__title"><span>ЛАК ПАРКЕТНЫЙ</span></h2>
  <div class="row-line">
    <div class="pagenavi">
      <a href="#" class="pagenavi__button pagenavi__button--active">1</a>
      <a href="#" class="pagenavi__button">2</a>
      <a href="#" class="pagenavi__button">3</a>
      <a href="#" class="pagenavi__button">4</a>
      <a href="#" class="pagenavi__button">5</a>
      <a href="#" class="pagenavi__button">
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
    <div class="block-button">
      <a href="#" class="btn-back">
        <img src="images/back-svg.svg" alt="">
      </a>
    </div>
  </div>
  <div class="filter-head">
    <div class="column">
      <span>Показывать по</span>
      <select>
        <option selected="selected" value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      <span>1 - 10 из </span>
      <span> 515</span>
    </div>
    <div class="column">
      <span>Сортировка:</span>
      <select class="filter-head__sort">
        <option selected="selected" data-href="/catalog/">
          По умолчанию
        </option>
        <option data-href="/catalog/?s=name&amp;d=asc">
          По названию
        </option>
        <option data-href="/catalog/?s=price&amp;d=asc">
          По цене
        </option>
      </select>
    </div>
  </div>
</div>
