<form action="#">
  <div class="form-group">
    <div class="form-group__item">
      <p>Пишите нам на <strong><a href="mailto:market-parket@mail.ru">market-parket@mail.ru</a></strong> или через форму:</p>
    </div>
    <div class="form-group__item">
      <label>Ваше имя</label>
      <input class="form-control" type="text" value="" name="user_name" size="60">
    </div>
    <div class="form-group__item">
      <label>Электронная почта <em>*</em></label>
      <input class="form-control" type="text" value="" name="user_email" size="60">
    </div>
    <div class="form-group__item">
      <label>Телефон <em>*</em></label>
      <input class="form-control" type="text" name="user_phone" value="" id="feedback_form_phone" size="60">
    </div>
    <div class="form-group__item">
      <label>Сообщение <em>*</em></label>
      <textarea class="form-control" name="MESSAGE"></textarea>
    </div>
    <div class="form-group__item">
      <label>Приложить файл</label>
      <div class="block-file">
        <div class="bg_img">
          <input class="form-control-file" type="file" name="file[]">
        </div>
      </div>
    </div>
    <div class="form-group__item">
      <label>Введите код с картинки</label>
      <div class="row-line row-line__center">
        <input class="form-control small" type="text" name="captcha_word" size="30" maxlength="50" value="">
        <img src="../images/captcha.jpeg" width="180" height="40" alt="CAPTCHA">
      </div>
    </div>
    <div class="form-group__item">
      <label><em>*</em> - обязательные для заполнения поля</label>
      <input type="submit" class="btn-submit" value="Отправить вопрос">
      <p class="form-group__text">
        Нажимая на кнопку "Отправить", я даю <a data-fancybox="successfully" data-src="#successfully" href="javascript:;">согласие на обработку своих персональных данных</a>
      </p>
    </div>
  </div>
</form>
