<footer class="footer">
	<div class="container hidden-md hidden-lg">
    <div class="row-line row-line__between">
      <div class="column-mob">
        <a href="#" class="link-footer">Контакты</a>
      </div>
      <div class="column-mob">
        <a href="#" class="link-footer">Фотогалерея</a>
        /
        <a href="#" class="link-footer">Вопрос-ответ</a>
      </div>
    </div>
  </div>
	<div class="container hidden-sm hidden-xs">
		<div class="row-line">
			<div class="footer-menu">
				<h4>Штучный паркет</h4>
				<ul class="links">
					<li><a href="/articles/shtuchnyy-parket/">Штучный паркет - что это?</a></li>
					<li><a href="/ukladka-shtuchnogo-parketa/">Укладка паркета</a></li>
					<li><a href="/tsiklevka-parketa/">Шлифовка штучного паркета</a></li>
					<li><a href="/tonirovanie-parketa/">Тонирование штучного паркета</a></li>
					<li><a href="/articles/shtuchnyy-parket/lak-ili-maslo/">Паркет под лаком или маслом</a></li>
					<li><a href="/articles/shtuchnyy-parket/vidy-ukladok/">Варианты укладки паркета</a></li>
					<li><a href="/articles/shtuchnyy-parket/porody-dereva/">Породы дерева</a></li>
				</ul>
			</div>
			<div class="footer-menu">
				<h4>Массивная доска</h4>
				<ul class="links">
					<li><a href="/articles/massivnaya-doska/">Массивная доска – 5 параметров выбора!</a></li>
					<li><a href="/ukladka-massivnoy-doski/">Укладка массивной доски</a></li>
					<li><a href="/tsiklevka-parketa/">Шлифовка массивной доски</a></li>
					<li><a href="/articles/massivnaya-doska/lak-ili-maslo-mass/">Массив под лаком или маслом</a></li>
					<li><a href="/tonirovanie-parketa/">Тонировка массивной доски</a></li>
					<li><a href="/articles/massivnaya-doska/porody-dereva-mass/">Породы древесины массивной доски</a></li>
					<li><a href="/ukhod-za-parketom/">Уход за паркетом</a></li>
				</ul>
			</div>
			<div class="footer-menu">
        <h4>Паркетная доска</h4>
        <ul class="links">
          <li><a href="/articles/parketnaya-doska/">Инженерный паркет и паркетная доска - как они есть!</a></li>
          <li><a href="/ukladka-parketnoy-doski/">Укладка паркетной доски</a></li>
          <li><a href="/tsiklevka-parketa/">Шлифовка паркетной доски</a></li>
          <li><a href="/tonirovanie-parketa/">Колеровка паркетной доски</a></li>
          <li><a href="/articles/parketnaya-doska/lak-ili-maslo-parket/">Лак или масло?</a></li>
          <li><a href="/articles/parketnaya-doska/porody-dereva-parket/">Паркетная доска - породы дерева</a></li>
        </ul>
      </div>
			<div class="footer-menu">
          <h4>Ламинат</h4>
          <ul class="links">
            <li><a href="/articles/laminat/">Ламинат - что это?</a></li>
            <li><a href="/ukladka-laminata/">Укладка ламината</a></li>
            <li><a href="/articles/laminat/materialy-dlya-ukladki-laminat/">Материалы для укладки</a></li>
            <li><a href="/articles/laminat/ukhod-za-laminatom/">Уход за ламинатом</a></li>
          </ul>
			</div>
		</div>
	</div>
  <div class="bottom-information">
    <div class="container">
      <div class="row-line">
        <div class="column row-line">
          <div class="footer__copy">
              © ООО "СТП" - Паркетные работы в Москве <br>
              Москва,&nbsp;Протопоповский переулок, дом 19, строение 13&nbsp;<br>
              Тел. +7 (495) 363-87-99 <br>
              <a href="#">карта сайта</a>
          </div>
          <div class="search-block">
            <form action="#">
              <div class="search-field">
                <input type="text" name="q" value="" placeholder="Что вы ищете?">
                <input name="s" type="submit" value="Поиск">
              </div>
            </form>
          </div>
        </div>
        <div class="column">

        </div>
      </div>
    </div>
  </div>
</footer>
<div class="back-to-top" style="display: block;">
  <div>Вверх ↑</div>
</div>
