<header class="header fixed-top-centered">
  <div class="container">
    <div class="row-line">
      <div class="header-column">
        <a class="logo" href="#">
          <img alt="Parket Lux" title="Parket Lux" src="images/logo.svg">
        </a>
        <a class="toggle" href="#"> </a>
      </div>
      <div class="header-search-block hidden-sm hidden-xs">
        <div class="search-block">
          <form action="#">
            <div class="search-field">
              <input type="text" id="sfrm" name="q" value="" placeholder="Что вы ищете?">
              <input name="s" type="submit" value="Поиск">
            </div>
          </form>
          <div class="suggestion">Например: <a id="ssugg">Ремонт паркета</a></div>
        </div>
      </div>
      <div class="contacts-column">
        <ul class="contacts-list">
          <li>
            <a class="phone" href="tel:+74953638799">+7 (495) 363 87 99</a>
          </li>
          <li>
            <a class="phone" href="tel:+79153639363">+7 (915) 363 9 363</a>
          </li>
          <li class="text">
            каждый день с 9:00 до 21:00
          </li>
          <li>
            <a data-fancybox="show_form" data-src="#show_form" href="javascript:;" class="link">Связаться с технологом</a>
          </li>
        </ul>
      </div>
    </div>
    @@include('../partials/components/menu.html')
  </div>
</header>

