<div class="gtk_menu slideout-menu">
  <div class="header-column">
    <div class="row-line row-line__between">
      <a href="#" class="logo">
        <img alt="Parket Lux" title="Parket Lux" src="images/logo.svg">
      </a>
      <a class="toggle opened" href="#"> </a>
    </div>
    <div class="search-block">
      <form action="#">
        <div class="search-field">
          <input type="text" name="q" value="" placeholder="Что вы ищете?">
          <input name="s" type="submit" value="">
        </div>
      </form>
    </div>
    <nav class="nav-menu">
      <p>Укладка паркета</p>
      <ul>
        <li><a href="#">Укладка штучного паркета</a></li>
        <li><a href="#">Укладка массивной доски</a></li>
        <li><a href="#">Укладка паркетной доски</a></li>
        <li><a href="#">Укладка ламината</a></li>
        <li><a href="#">Плинтус и порожки</a></li>
      </ul>
    </nav>
    <nav class="nav-menu">
      <p>Восстановление паркета</p>
      <ul>
        <li><a href="#">Циклевка паркета</a></li>
        <li><a href="#">Ремонт паркета</a></li>
        <li><a href="#">Уход за паркетом</a></li>
        <li><a href="#">Тонировка паркета</a></li>
        <li><a href="#">Паркетная химия</a></li>
        <li><a href="#">Паркетное оборудование</a></li>
      </ul>
    </nav>
    <nav class="nav-menu">
      <p>Подготовка основания</p>
      <ul>
        <li><a href="#">Стяжка пола</a></li>
        <li><a href="#">Пол на лагах</a></li>
        <li><a href="#">Сухая стяжка Кнауф</a></li>
      </ul>
    </nav>
  </div>
</div>
