<div id="extra" class="sidebar-filter">
  <div class="sidebar-filter__content">
    <div class="sidebar-filter__title">
      <span class="sidebar-filter__check">
        <i class="fa fa-check" aria-hidden="true"></i>
      </span>
      Производители:
    </div>
    <form action="#" id="filter-form" class="filter-form">
      <div class="filter-form__item">
        <input id="acm" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="acm" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">ACM</a>
            <span class="filter-product-count">4</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="adesiv" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="adesiv" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Adesiv</a>
            <span class="filter-product-count">3</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="amberWood" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="amberWood" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Amber Wood flooring</a>
            <span class="filter-product-count">3</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="anser" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="anser" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Anser</a>
            <span class="filter-product-count">2</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="arboritec" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="arboritec" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Arboritec</a>
            <span class="filter-product-count">4</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="berger-seidle" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="berger-seidle" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Berger-Seidle</a>
            <span class="filter-product-count">6</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="bochem" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="bochem" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Bochem</a>
            <span class="filter-product-count">6</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="bona" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="bona" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Bona</a>
            <span class="filter-product-count">32</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="bostic" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="bostic" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Bostic</a>
            <span class="filter-product-count">1</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="cesar" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="cesar" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Cesar</a>
            <span class="filter-product-count">1</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="ciret" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="ciret" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">CIRET GmbH</a>
            <span class="filter-product-count">1</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="сezar" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="сezar" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Cezar</a>
            <span class="filter-product-count">2</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="columbus" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="columbus" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Columbus</a>
            <span class="filter-product-count">2</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="derufa" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="derufa" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Derufa</a>
            <span class="filter-product-count">1</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input id="dollken" class="filter-form__checkbox" name="brand[]" value="1782" type="checkbox" />
        <label for="dollken" class="filter-form__label">
          <div class="filter-form__article">
            <a href="?brand=1782" class="filter-form__link">Dollken</a>
            <span class="filter-product-count">2</span>
          </div>
        </label>
      </div>
      <div class="filter-form__item">
        <input type="submit" class="filter-form__submit" value="Выбрать">
        <input type="button" class="filter-form__reset" value="Сбросить">
      </div>
    </form>
  </div>
</div>
