<div class="sidebar-left">
  <div class="inner-wrapper-sticky">
    <div class="sidebar-left__inner">
      <div class="menu-sidebar">
        <h3 class="menu-sidebar__title">
          <i class="fa fa-bars" aria-hidden="true"></i>
          КАТАЛОГ ТОВАРОВ
        </h3>
        <ul class="menu-sidebar__list">
          <li class="menu-sidebar__item"><a href="#">ПАРКЕТ</a></li>
          <li class="menu-sidebar__item"><a href="#">ПАРКЕТНЫЙ КЛЕЙ</a></li>
          <li class="menu-sidebar__item"><a href="#">ПАРКЕТНЫЙ ЛАК</a></li>
          <li class="menu-sidebar__item"><a href="#">ПАРКЕТНОЕ МАСЛО</a></li>
          <li class="menu-sidebar__item"><a href="#">ШПАКЛЕВКА</a></li>
          <li class="menu-sidebar__item"><a href="#">СРЕДСТВА ПО УХОДУ</a></li>
          <li class="menu-sidebar__item"><a href="#">ОСНОВАНИЕ ПОЛА</a></li>
          <li class="menu-sidebar__item"><a href="#">ОБОРУДОВАНИЕ</a></li>
          <li class="menu-sidebar__item"><a href="#">Сопутствующие товары</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
